spring:
  application:
    name: Dirkficial Fitness App

  datasource:
    url: jdbc:postgresql://localhost:5433/liftinglogger
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true